<script type="text/javascript" src="/Scripts/view/admin/instituicoes.js?v=1451931155" />
<div ng-controller="InstituicoesListCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Listagem de Instituições
      </h1>
    </div>
    <!-- /.col-lg-12 -->
    <button id="btnNovo" type="button" class="btn btn-primary navbar-right btnsTop" ng-click="novo()">Novo</button>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="table-responsive">
      <table class="table" id="tableSemestres">
        <thead>
          <tr>
            <th></th>
            <th>Ativo</th>
            <th>Sigla</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in instituicoes track by $index">
            <td><i class="fa fa-times fa-fw editClick" title="Excluir item" ng-click="excluirItem(item._id)"></i><i class="fa fa-pencil fa-fw editClick" title="Editar item" ng-click="editItem(item._id)"></i></td>
            <td>{{ item.Ativo ? 'Sim':'Não' }}</td>
            <td>{{ item.Sigla }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
